.stoty {
    background-color: #245852;
    padding: 229px 0 176px;
    color: #fff;
}

.stoty-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.story-content {
    margin-right: 30px; 
    max-width: 580px;
  
}

.story-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 157%;
    font-family: "Georgia", serif;
}

.story-subtitle {
    margin-top: 33px;
    margin-bottom: 57px;
    font-family: 'Lato',sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
}

.story-btn,
a.story-btn {
    padding: 20px 50px;
    background: #01996D;
    font-size: 20px;
    border-radius: 4px;
    color: #fff;
    transition: opacity .2s ease;
}

.story-btn:hover,
a.story-btn:hover {
    opacity: 0.8;
}

.story-video {
    max-width: 895px;
    position: relative;
 
}

.story-video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
}

.story-video-btn:hover {
    cursor: pointer;
    opacity: 0.7;
    
}

.story-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.story-video-object {
    border-radius: 10px;
}